<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keithandthegirl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4"
        	  android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
		android:name=".MainApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/LightThemeSelector">
    
		<activity 
			android:name=".ui.activity.HomeActivity"
			android:uiOptions="splitActionBarWhenNarrow">
						
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
		</activity>
    
		<activity 
			android:name=".ui.activity.FeedActivity" />

		<activity 
			android:name=".ui.activity.PlayerActivity" />
		
		<activity 
			android:name=".ui.activity.EpisodesActivity" />
		
		<service android:enabled="true" android:name=".services.episode.EpisodeService" />
		<service android:enabled="true" android:name=".services.MediaPlayerService" />
		<service android:enabled="true" android:name=".services.UpdateFeedService" />
		<service android:enabled="true" android:name=".services.UpdateCalendarService" />
		
		<!-- KATG Providers -->
		<provider
            android:name=".provider.KatgProvider"
            android:authorities="com.keithandthegirl.provider.KatgProvider"
            android:exported="false" />
				
	</application>

</manifest>